.contain{ 
    width: 1000px;
    margin: 0 auto;   
}

.header{
    color: rgb(224, 178, 194); 
    font-size: 20px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1000px;
    height: 45px ; 
    border-width: 10px; 
    border-style: none; 
}

.holiday h3{
    text-align: center;
    padding:10px 0 ;
    font-size: 40px; 
    text-transform: uppercase;
    font-weight: bold;
}

.new-list .list-holiday{
    width: 45%; 
    padding: 2%;
    float:left;
    border: 3px solid #ccc;
}

.food h3{
    text-align: center;
    padding:10px 0 ;
    font-size: 40px; 
    text-transform: uppercase;
    font-weight: bold;
}

.new-list .list-food{
    width: 45%; 
    padding: 2%;
    float:left;
    border: 3px solid #ccc;
}

.travel h3 {
    text-align: center;
    padding:10px 0 ;
    font-size: 40px; 
    text-transform: uppercase;
    font-weight: bold;
}

.new-list .list-travel{
    width: 45%; 
    padding: 2%;
    float:left;
    border: 3px solid #ccc;
}

.video h3{
    color:rgb(8, 8, 138);
    text-align: center;
    padding:10px 0 ;
    font-size: 40px; 
    text-transform: uppercase;
    font-weight: bold;
}